body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Navigation styles */
  nav {
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #333;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #ddd;
  }
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  center{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
  }